<template>
  <div class="add-farm-wrapper dp-flex f-drt-column al-it-center">
    <span class="no-farm-text f-w-500">คุณยังไม่ได้ถูกตรวจสอบให้เป็นชาวสวน</span>
    <nuxt-link class="add-first-farm-text cl-primary f-w-500" to="/account/">
      โปรดส่งเลขบัตรประชาชน และ บัญชีธนาคาร ของท่าน และให้รอการยืนยันจากผู้ให้บริการ
    </nuxt-link>
  </div>
</template>

<style lang="less" scoped>
.add-farm-wrapper {
  padding: 26px 0px;
  .no-farm-text {
    color: #424242;
    font-size: 2.2rem;
  }
  .add-first-farm-text {
    margin-top: 22px;
    font-size: 2.2rem;
  }
}
</style>
