<template>
  <a-form-item
    class="textarea-input"
    :label="label"
    :label-col="{ span: 10 }"
    :wrapper-col="{ span: 12 }"
  >
    <a-textarea :placeholder="placeholder" />
  </a-form-item>
</template>

<script>
export default {
  props: {
    label: String,
    placeholder: String
  }
}
</script>

<style lang="scss" scoped>
.text-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}
</style>
