<template>
  <div id="carouselSection">
    <no-ssr>
      <a-carousel style="height: 500px;" :autoplay="true" arrows>
        <div
          class="mock-carousel"
          :style="{'background-image': 'url(' + require('../../assets/images/c1.jpeg') + ')'}"
        >
          <h1>เหมาเหมา</h1>
          <p>ซื้อขายผลไม้แบบเหมาสวน</p>
        </div>
        <div
          class="mock-carousel"
          :style="{'background-image': 'url(' + require('../../assets/images/c2.jpeg') + ')'}"
        >
          <h1>เหมาเหมา</h1>
          <p>ซื้อขายผลไม้แบบเหมาสวน</p>
        </div>
      </a-carousel>
    </no-ssr>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
h1 {
  color: white;
  font-size: 90px;
  font-weight: 500;
  padding-top: 10px;
}
p {
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin-top: -30px;
}
.mock-carousel {
  height: 500px;
  background-color: #a3a3a3;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
